*{
    padding: 0;
    /* top right bottom left */
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    /*     background-color: rgb(41, 87, 186); */
    background-color: #ccc;
    font-family: 'Poppins', sans-serif;
}

.windows{
    
    padding-left: 7.55em;
}

.title-container{
    background-color: #3D4043;
    padding: 0px 0px 0px 90px;

/* padding:top-rigth-bottom-left; */
}

.title{
    color: #2957BA;
    font-size: 18px;
    
}

.subtitle{    

    color: #2957BA;
    font-size: 40px;
    padding-left: 21px;

}

.mover-img-container{
    width: 70em;
    
}

.img-container{
    background:#3D4043; 
    margin: 20px 20px;
    font-size: 20px;
    float: right;
}

.img-container img{
    width: 30px;         
    /*     padding: 0px 0px 0px 600px; */
    transition: background 1s,height .5s, width .5s;
}


a:visited{
    color:  #2856b8c0;
}

.img-container img:active{
    background-color    :   rgb(71, 255, 111);
    width: 40px; 
    /* padding: 0px 0px 0px 600px;   mover fondo de imagen azul  */
    /* background-color: rgb(71, 255, 111); */
}

/* animes en categoria */
.img-title-container{
    width: 195px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}
.img-anime-title{
    background-color:#2957BA;
    color: #fff;    
    width: 100%;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    text-align: center;
}

.img-anime-container img{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    width: 100%;
    height: 100%;
}
.img-anime-footer{
    background: rgb(255, 80, 80);
    width: 100%;
}
.float-left{
    float: left;
    color: #000;
}

div span i img{
    width: 20px;
}
.float-right{
    float: right;
    color: #2957BA;
}

.nav-li{
    display: inline-block;
    padding: 16px;
    transition: background .5s;
}

.nav-li-a{
    text-decoration: none;
    
}
.nav-li-a{
    text-decoration: none;
}

.nav-li:hover{
background: rgba(228, 228, 81,.5);
max-height: 50px;

}

/* @media only screen and (min-width: 900px){

    .nav.ul{
        display: block;
    }

    
} */